<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans> 
    <bean id="springCalMinus" class="springTest.springCal.SpringCalMinus" />    
    <bean id="springCalPlus" class="springTest.springCal.SpringCalPlus" />
    
    <bean id="springCalManager" class="springTest.springCal.SpringCalManager">
         <property name="springInterface" ref="springCalMinus" />
    </bean>
</beans>